body {
  margin: 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px;
  /* Définir le comportement pour un nouveau élément qui sera rajouter et qui va dépasser  */
  grid-auto-rows: 50px;
  grid-auto-columns: 50px;
  /* Définis le mode de positionnement des éléments entre eux */
  grid-auto-flow: column;
}

.item {
  background: blue;
  color: white;
  font-weight: 700;
  border: 1px solid red;
  padding: 1rem;
}
